@model List<Contract>

@{
    string controllerName = ControllerExt.NameOf<HomeController>();
    Pager pager = new Pager();
    int page = 0;
    if (ViewBag.Pager is not null)
    {
        pager = ViewBag.Pager;
        page = pager.CurrentPage;
        pager.CurrentSearchFilter = ViewBag.CurrentSearchFilter;
        pager.CurrentSortOrder = ViewBag.CurrentSortOrder;
    }
}

<h1>Договоры</h1>

<div class="filters">
    <form method="get" asp-action="Index" asp-controller="@controllerName">
        <input id="search-filter" placeholder="Поиск по названию..." name="searchFilter" value="@(ViewBag.CurrentSearchFilter as string)" />
        <input name="sortOrder" value="@ViewBag.CurrentSortOrder" hidden />
        <button class="details-btn" type="submit">Искать</button>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>Номер</th>
            <th>Дата заключения</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contract in Model)
        {
            <tr>
                <td>@contract.Number</td>
                <td>@contract.Date</td>
                <td>
                    <a asp-action="@nameof(HomeController.ContractInfo)" asp-route-contractId="@contract.Id">
                        Подробнее
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PagerPartial" model="pager"></partial>