@model List<Contract>

@{
    Pager pager = new Pager();
    int page = 0;
    if (ViewBag.Pager is not null)
    {
        pager = ViewBag.Pager;
        page = pager.CurrentPage;
        pager.CurrentSearchFilter = ViewBag.CurrentSearchFilter;
        pager.CurrentSortOrder = ViewBag.CurrentSortOrder;
    }
}

<h1 class="heading">Работа с документами</h1>
<div class="editor">
    <div class="editor-add-btn">
        <span>Добавить новый договор: </span>
        <a class="btn mt-0"
                asp-action="@(nameof(HomeController.CreateContract))">
            Добавить
        </a>
    </div>
    <div class="filters">
        <form method="get" asp-action="Index">
            <input id="search-filter" placeholder="Поиск по названию..." name="searchFilter" value="@(ViewBag.CurrentSearchFilter as string)" />
            <input name="sortOrder" value="@ViewBag.CurrentSortOrder" hidden />
            <button class="details-btn" type="submit">Искать</button>
        </form>
    </div>
    <table class="editor-table">
        <thead>
            <tr>
                <th>
                    <a asp-action="@nameof(HomeController.Index)"
                       asp-route-sortOrder="@ViewBag.NumberSortOrder" asp-route-currentFilter="@ViewBag.CurrentSearchFilter">Номер</a>
                </th>
                <th>
                    <a asp-action="@nameof(HomeController.Index)"
                       asp-route-sortOrder="@ViewBag.IsDeletedSortOrder" asp-route-currentFilter="@ViewBag.CurrentSearchFilter">Дата заключения</a>
                </th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contract in Model)
            {
                <tr>
                    <td>@contract.Number</td>
                    <td>@contract.Date</td>
                    <td>
                        <a class="details-btn" asp-action="@nameof(HomeController.ContractInfo)" asp-route-contractId="@contract.Id">
                            Подробнее
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagerPartial" model="pager"></partial>
</div>
